.env
.venv/
.DS_Store
__pycache__/
.pytest_cache/
*.pyc
cdk.out/
cdk-outputs*.json
downloads/
*.pdf
chunks_generados.txt
resultado_auditoria.json
reporte_auditoria.md
Privacy_Notice_Auditor_Report.docx
Privacy_Notice_Auditor_Presentation.pptx
uso_actual.json

experimentos/
node_modules/